# Environment files
backend/.env
frontend/.env local

# Virtual environment
backend/venv/

# Python cache
__pycache__/
*.pyc

# env/secrets
.env
.env.local


# macOS
.DS_Store

# Python virtual env
venv/

# Python cache
__pycache__/
*.pyc

node_modules/
.env.local
.next/

frontend/package-lock.json
