# Firebase API Configuration
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY_HERE
FIREBASE_AUTH_DOMAIN=csuf-course-recommendation-sys.firebaseapp.com
FIREBASE_PROJECT_ID=csuf-course-recommendation-sys
FIREBASE_STORAGE_BUCKET=csuf-course-recommendation-sys.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID_HERE
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID_HERE

--Update this to new db
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=YOUR_DB_PASSWORD_HERE
DB_NAME=tuffyplan
DB_PORT=3306
